#header {
    color: rgb(31, 165, 206);
}

#timer-ctn {
    color: rgb(31, 165, 206);
}

#hero-img {
    background-image: url("../images/trivia-night.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#question {
}
