#header {
    color: rgb(31, 165, 206);
}

#timer-ctn {
    color: red;
}

#hero-img {
    background-image: url("../images/trivia-night.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#body {
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #c843cf 0%, #2BD2FF 52%, #319b5f 90%);
}
